---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";

const identity = {
  firstName: "David",
  country: "United States",
  occupation: "scientist",
  hobbies: ["bicycling", "cooking", "camping"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = true;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<style is:global define:vars={{ skillColor, fontWeight, textCase }}>
  
  h1 {
    font-size: 4rem;
  }

  .skill {
    color: var(--skillColor);
    font-weight: var(--fontWeight);
    text-transform: var(--textCase);
  }
</style>
<BaseLayout pageTitle={pageTitle}>

  <p>Hi there. I'm {identity.firstName}.</p>
  <p>I'm a {identity.occupation}, and I enjoy a variety of things, including {identity.hobbies[0]} and {identity.hobbies[1]}.</p>
  <p>I'll put more things here when I feel like it. Meanwhile, check out <a href="src/pages/blog.astro">my blog</a>, or follow me on <a href="https://bsky.app/profile/davidnyer.com">Bluesky</a> for my short-form blatherings.</p>
  
</BaseLayout>
